---
- name: Create a Jenkins namespace
  kubernetes.core.k8s:
    name: jenkins # kubernetes namespace
    api_version: v1
    kind: Namespace
    state: present

- name: Add Jenkins Helm repository
  kubernetes.core.helm_repository:
    name: jenkins
    repo_url: "https://charts.jenkins.io"
    validate_certs: false
  # ansible.builtin.command: >
  #   helm repo add jenkins https://charts.jenkins.io --insecure-skip-tls-verify
  # changed_when: false

- name: Update Helm Repositories
  ansible.builtin.command: helm repo update
  changed_when: false

- name: Search For Jenskins In the Helm Repositories
  ansible.builtin.command: helm search repo jenkins
  register: helm_search_output
  changed_when: false

- name: Display search result using debug
  ansible.builtin.debug:
    var: helm_search_output.stdout

- name: Deploying A Simple Jenkins Instance
  kubernetes.core.helm:
    name: my-simple-jenkins # release version
    chart_ref: jenkins/jenkins
    release_namespace: jenkins # kubernetes namespace
    create_namespace: false

- name: Display Admin password
  ansible.builtin.command: >
    kubectl exec --namespace jenkins svc/my-simple-jenkins -c jenkins -- /bin/cat /run/secrets/additional/chart-admin-password
  register: admin_password
  changed_when: false

- name: Show Admin Password
  ansible.builtin.debug:
    msg: "{{ admin_password.stdout }}"
